/* BasePage.css */

.base-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.base-page:hover {
  background-color: #e0e0e0; /* Change the background color on hover */
}

.base-page h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-switch {
  display: flex;
  gap: 20px; /* Increased gap for a better visual separation */
  margin-bottom: 20px;
}

.login-button,
.register-button {
  flex: 1;
  background-color: #101112;
  color: #fff;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px; /* Rounded corners for buttons */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
}

.login-button:hover,
.register-button:hover {
  background-color: #5e686d;
  transform: scale(1.05); /* Scale up on hover */
}

.form-container {
  width: 100%;
  max-width: 600px; /* Adjust the max-width for larger forms */
}
