/* BasePage.css */

.base-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #f4f4f4;
  transition: background-color 0.3s ease;
}

.base-page:hover {
  background-color: #e0e0e0; /* Change the background color on hover */
}

.base-page h1 {
  color: #333;
  font-size: 100px;
  margin-bottom: 50px;
}
.base-page h1:hover {
  color: #000; /* Change the text color on hover */
}
.base-page h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 200px;
}

.form-switch {
  display: flex;
  gap: 20px; /* Increased gap for a better visual separation */
  margin-bottom: 20px;
}

.login-button,
.register-button {
  flex: 1;
  background-color: #101112;
  color: #fff;
  padding: 25px;
  font-size: 40px;
  cursor: pointer;
  border: none;
  border-radius: 8px; /* Rounded corners for buttons */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
}

.login-button:hover,
.register-button:hover {
  background-color: #5e686d;
  transform: scale(1.05); /* Scale up on hover */
}

.form-container {
  max-width: 600px;/* Adjust the max-width for larger forms */
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}