.login-container {
  width: 500px;
  display: block;
  margin: auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Add position relative for absolute positioning within */
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* New container for password input and eye icon */
.password-input-container {
  position: relative;
  padding: 10px;
}

.password-input {
  width: calc(100% - 30px); /* Adjusted width for the input to make space for the eye icon */
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.submit {
  width: 100%;
  padding: 10px;
  background-color: #101210;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-link {
  display: block;
  text-align: center;
  margin-top: 16px;
  cursor: pointer;
  color: rgb(11, 11, 11);
  text-decoration: none;
}

.close-button {
  position: absolute;
  bottom: 5%;
  left: 95%;
  cursor: pointer;
  color: #0f1010;
}

.error-message {
  color: #f44336;
  font-size: 14px;
  margin-top: 8px;
}

/* Add media queries for responsiveness if needed */
@media (max-width: 600px) {
  .login-container {
    width: 100%;
  }
}
