.login-container {
  width: 300px;
  margin: auto;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

label {
  display: block;
  margin-bottom: 8px;
  color: white;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.submit {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-link {
  display: block;
  text-align: center;
  margin-top: 16px;
  color: white;
  text-decoration: none;
}

.login-container {
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.error-message {
  color: #f44336;
  font-size: 14px;
  margin-top: 8px;
}

/* Add media queries for responsiveness if needed */
@media (max-width: 600px) {
  .login-container {
    width: 100%;
  }
}
