.notification {
  background-color: #f5f8fa;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.read .notification {
  background-color: #e8f5fe;

}

.notification__content {
  display: flex;
  flex-direction: column;
}

.notification__content p {
  margin: 8px 0;
}

.notification__timestamp {
  color: #657786;
  font-size: 12px;
  margin-top: 8px;
}

.notification__buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  margin-top: 16px;
}

.mark_as_read {
  display: flex;
  justify-content: flex-start;
} 

.mark_as_read button {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 9999px;
  cursor: pointer;

}

.delete_div {
  display: flex;
  justify-content: flex-end;
}

.notification__actions button:hover {
  background-color: #e8f5fe;
}

.delete_button {
  color: #ff0000;
  border: none;
  padding: 8px 16px;
  border-radius: 9999px;
  cursor: pointer;
  width: 50px;
}



