.viewtweet{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
  }
  
  .viewtweet .main {
    flex: 0 0 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height : auto;
    margin-left: 10%;
    margin-top: 30px;
  }

  .tweet_container {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
  }

  .comment_container {
    width: 50%;
    height: auto;
  }