/* Styles for the profile page */
.profile-page {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* Header styles */
.header {
  position: fixed;
  height: 100vh;
  width: 25%;
  padding-top: 30px;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  border-right: solid 1px lightgray;
}

/* Styles for the user info container */
.user-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* Styles for the user info section */
.user-info {
  display: flex;
  align-items: center;
}

/* Styles for the user avatar */
.user-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 20px;
}

/* Styles for the default message container */
.default-message-container {
  text-align: center;
  color: #555;
}

/* Styles for the user details section */
.user-details {
  max-width: 200px;
}

/* Styles for the follow buttons */
.follow-buttons {
  display: flex;
}

.follow-buttons button {
  background-color: #0a0a0a;
  color: #fff;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.follow-buttons button:hover {
  background-color: #3a5868;
}

/* Styles for the toggle buttons */
.toggle-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.toggle-buttons button {
  background-color: #1e1f20;
  color: #fff;
  padding: 10px;
  flex: 1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-buttons button.active {
  background-color: #df6316;
}

.toggle-buttons button:hover {
  background-color: #8c4f29;
}

/* Styles for the user tweets and comments containers */
.user-tweets-container,
.user-comments-container {
  margin-bottom: 20px;
}

/* Styles for the success message */
.success-message {
  color: rgb(32, 34, 32);
  text-align: center;
  font-size: 2em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .user-info-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-info img {
    margin-bottom: 10px;
  }

  .follow-buttons {
    flex-direction: column;
  }

  .toggle-buttons {
    flex-direction: column;
    align-items: center;
  }

  .toggle-buttons button {
    width: 100%;
    margin-bottom: 10px;
  }
}
